
/clientapp/obj
/merchandapp/obj
/serverapp/obj
.vs/
/.vs/angleiron/v17
angleiron.sln
/merchandapp/bin/Debug
/merchandapp/bin/Release
/serverapp/bin/Debug
/serverapp/bin/Release
clientapp/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
clientapp/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
clientapp/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
clientapp/bin/Debug/System.Threading.Tasks.Extensions.dll
clientapp/bin/Debug/System.Threading.Tasks.Extensions.xml
clientapp/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/ClientAppRemake/bin/Debug
/ClientAppRemake/bin/Release
